.container {
  width: 100%!important;
  margin-top: 20px!important;
  padding-right: 0px!important;
  padding-left: 0px!important;
}

.col-md-2 {
  background-color: #f8f9fa!important;
}

.col-md-9 {
  margin-left: 20px!important;
  background-color: #f8f9fa!important;
  -ms-flex: 0 0 81.5%;
  flex: 0 0 81.5%;
  max-width: 81.5%;
}

.linea {
  align-content: space-around;
  width: 96%;
  margin: 2%;
  padding-right: 0px;
  padding-left: 0px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.izq {
  text-align: center;
  padding: 20px 40px 20px 40px;
  background-color: #f8f9fa;
  width: 285px;
  margin: auto;
}

.der {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  background-color: #f8f9fa;
  width: 100%;
  margin-top: 20px;
  padding: 20px 0px;
}

@media (min-width: 830px) {
  .izq {
    max-width: 24%!important;
    padding: 20px 2px 20px 2px;
  }

  .der {
    max-width: 74%!important;
    margin-left: 2%;
    margin-top: 0px;
  }
}

@media (min-width: 968px) {
  .izq {
    max-width: 24%!important;
    padding: 20px 40px 20px 40px;
  }

  .der {
    max-width: 74%!important;
    margin-left: 2%;
    margin-top: 0px;
  }
}

.btn-block {
  margin-top: 20px;
	background-color: #28a745!important;
	border-color: #28a745!important;
}

.btn-block:hover {
	background-color: #109636!important;
	border-color: #109636!important;
}

.cita {
  padding: 2px;
  margin: 2%;
  width: 96%;
  color: #28a745!important;
  background-color: #fdfdfd;
  border: solid;
  border-color: #28a745!important;
  border-width: 1px!important;
  border-radius: 4px!important;
}

@media (min-width: 830px) {
  .cita {
    margin: 2%;
    width: 46%;
  }
}

.btn-citas {
  width: 150px;
  margin: auto;
}

.asunto {
  color: #444;
}

.urgente {
  color: #dd1111;
}

.cp {
  width: 100%;
}
